body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(table.jpg) no-repeat;
    text-align: center;
    font-family: 'Trebuchet MS';
    color: white;
}

@media screen and (min-width: 768px) {
    body {
        background-size: cover;
        background-repeat: repeat;
    }
}
  
h1 {
    padding: 25px 0;
    color: goldenrod;
    font-size: 40px;
}
  
p {
    font-weight: bold;
    font-size: 20px;
}
  
#message-el {
    font-style: italic;
}
  
button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 1vh;
    padding: 5px 0;
    margin-bottom: 5px;
}

button:active {
    background: goldenrod;
    /* transform: scale(0.98); */
    box-shadow: inset 0 0 5px black;
    -webkit-box-shadow: inset 0 0 5px black;
    -moz-box-shadow: inset 0 0 5px black;
}

#name {
    margin-top: 15px;
}

#cards-el, #sum-el, #dealer-cards, #dealer-total  {
    font-size: 24px;
}

#player-el {
    margin: 35px 0 0 0;
    font-size: 24px;
}

#chips-el {
    margin: 5px 0;
    font-size: 24px;
}
